@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #282828;
  --bg-color2: #333;
  --content-bg-color: #1f1f1f;
  --fg-color: #ededed;
  --fg-color2: #999999;
  --fg-color-dim: #656565;
  --fg-color3: #333;
  --link-color: #5da4f8;
  --link-color-hover: #3e6aa0;
  --border-color: #3e3e3e;
}

a {
  @apply text-blue-300 hover:underline;
}

/* video player */
.videoPlayer {
  position: relative;
  padding-bottom: 56.25%;
}

.ytvideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* filters */
#filters ul {
  min-width: 80px;
}

#filters label {
  @apply cursor-pointer block whitespace-nowrap -indent-3 py-1 pr-0 pl-3;
}

#filters label input:checked + span::after {
  content: "✕";
  margin-left: 0.5em;
}

#filters label input:checked + span {
  @apply text-slate-200;
}
